name: Deploy Helm Chart

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      # 1. Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

     
      # 3. Deploy the chart
      - name: Deploy app1 Helm chart
        shell: powershell
        run: |
          # Go to the repo root
          cd $env:GITHUB_WORKSPACE
          
          # Debug: list files for confirmation
          Write-Host "Current folder: $(Get-Location)"
          Write-Host "Folder content: $(Get-ChildItem | ForEach-Object { $_.Name })"

          # Deploy Helm chart
          helm upgrade --install woi . -f .\values.yaml 
